<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="1">
  <test name="Loan">
  <parameter name="Price" value="7.8L"></parameter>
    <classes>
      <class name="com.testngcheck.carLoan"/>
      <class name="com.testngcheck.goldLoan"/>
      <class name="com.testngcheck.homeLoan">
	      <methods>
	      	<exclude name ="HomeLoanInterest"/>
	      </methods> 
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
